<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MediRite-Login</title>
    <link rel="stylesheet" href="/css/doclogin.css">
</head>
<body>
    <header>
        <h1> MediRite</h1>
    </header>

    <main>
        <form method="post" id="loginform">
            <label for="email"> Email:</label>
            <span id="emailError" class="error"></span>
            <input type="email" id="email" name="email" placeholder="user@example.com">
            <button type="submit"> LOGIN</button>
        </form>
    </main>

    <p id="p-one"> Register <a id="a-one" href="docregister.html"> Here </a></p>
    

    <script src="/js/doctor.js"></script>
</body>
</html>