<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MediRitePatient</title>
    <link rel="stylesheet" href="/css/stylep.css">
</head>
<body>
    <div id="home">
        <header>
            <h1>MediRite</h1>
            <br>
            <ul>
                <li><a href="/">Home</a> 
                <li><a href="#about">About</a></li>
                <li><a href="flogin.html">Login</a></li>
                <li><a href="fregister.html">Register</a></li>
                <li><a href="#services">Services</a></li>
            </ul>
        </header>
        <div id="middle">
            <br><br><br><br><br><br><br>
            <p>We deliver medical care to you<br> <span>virtually.</span></p>
        </div>
    </div>
    <div class="main-container">
        <main class="about" id="about">
            <h4>About MediRite</h4>
            <p>At MediRite, our mission is to revolutionize healthcare by providing accessible, affordable, and high-quality medical services through the power of telemedicine.
                We are committed to connecting patients with expert healthcare providers anytime, anywhere.
                 We envision a world where healthcare is available to everyone, regardless of their location or situation.
                  Our goal is to eliminate barriers to quality care and bring medical consultations to the comfort of your home.</p>
        </main>
        <aside class="services" id="services">
            <h4>Services</h4><br>
            <ul>
                <li>Appointments</li><br><br>
                <li>Virtual Consultations</li><br><br>
                <li>Manage/Update Profiles</li><br><br>
                <li>Search for nearby healthcare centers</li><br><br>
                <li>Drug Prescription</li><br><br>
            </ul>
        </aside>
    </div>
    <footer class="footer">
        <p>&copy; 2024 MediRite - All Rights Reserved</p>
        <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">X</a></li>
            <li><a href="#">LinkedIn</a></li>
            <li><a href="#">Instagram</a></li>
        </ul>
        <p>Contact us: info@medirite.com</p>
    </footer>
</body>
</html>